html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'system-ui', 'Helvetica', 'Arial', 'Segoe UI', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  align-content: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

h1, p {
  margin-top: 0;
}

header {
  margin-bottom: 1.5rem;
  text-align: center;
}

h1 {
  margin-bottom: 0rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 1.5rem;
}

.soundboard {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.soundboard__row {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}

.soundboard__btn {
  align-items: center;
  background: #0CB36F;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  height: 7rem;
  justify-content: center;
  margin: 0.1rem;
  width: 6rem;
}

.soundboard__btn:nth-child(2n) {
  background: #42B486;
}

.soundboard__btn.playing {
  opacity: 0.5;
  outline: 0;
  transform: scale(0.9);
}

.soundboard__btn--full {
  flex: 0 1 30.8rem;
  width: 30.8rem;
}

.drake-mode-btn {
  bottom: 2rem;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  width: 4rem;
}

@keyframes dance {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.drake-mode-btn__img {
  animation: .3s dance infinite step-end;
  animation-fill-mode: none;
  animation-play-state: paused;
  display: block;
  max-width: 100%;
  transform: none;
}

.drake-mode-btn:hover .drake-mode-btn__img {
  animation-play-state: running;
}

.drake-mode-btn__drake {
  display: block;
}

.drake-mode-btn__airhorn {
  display: none;
}

.drake-mode-active .drake-mode-btn__drake {
  display: none;
}

.drake-mode-active .drake-mode-btn__airhorn {
  display: block;
}

.drake-mode-active .soundboard__btn {
  background: #F85C89;
}

.drake-mode-active .soundboard__btn:nth-child(2n) {
  background: #F9A7BF;
}
