@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #3a3a3a;
  font-family: 'Work Sans', 'system-ui', 'Helvetica', 'Arial', 'Segoe UI', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  align-content: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

h1, p {
  margin-top: 0;
}

h1 {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0rem;
}

header {
  margin: 0 auto 3rem auto;
  margin-bottom: 3rem;
  max-width: 40rem;
  text-align: center;
}

a {
  border-bottom: 1px solid #7C51EF;
  color: #7C51EF;
  text-decoration: none;
  transition: color ease-in 0.15s;
}

a:hover {
  color: #4a4a4a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 1.5rem;
}

.soundboard {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.soundboard__row {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}

.soundboard__btn {
  align-items: center;
  background: #D7353E;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  height: 7rem;
  justify-content: center;
  margin: 0.1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 6rem;
}

.soundboard__btn.playing {
  opacity: 0.5;
  outline: 0;
  transform: scale(0.9);
}

.soundboard__btn:nth-child(2n) {
  background: #DA777C;
}

.soundboard__btn:nth-child(3n) {
  background: #A4282F;
}

.soundboard__btn:nth-child(4n) {
  background: #571619;
}

.soundboard__btn--full {
  background: #A4282F;
  flex: 0 1 30.8rem;
  width: 30.8rem;
}

.drake-mode-btn {
  bottom: 2rem;
  cursor: pointer;
  position: fixed;
  right: 3rem;
  width: 4rem;
}

@keyframes dance {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.drake-mode-btn__img {
  animation: .3s dance infinite step-end;
  animation-fill-mode: none;
  animation-play-state: paused;
  display: block;
  max-width: 100%;
  transform: none;
}

.drake-mode-btn:hover .drake-mode-btn__img {
  animation-play-state: running;
}

.drake-mode-btn__drake {
  display: block;
}

.drake-mode-btn__airhorn {
  display: none;
}

.drake-mode-active .drake-mode-btn__drake {
  display: none;
}

.drake-mode-active .drake-mode-btn__airhorn {
  display: block;
}

.drake-mode-active .soundboard__btn {
  background: #7C51EF;
}

.drake-mode-active .soundboard__btn:nth-child(2n) {
  background: #B29AF2;
}

.drake-mode-active .soundboard__btn:nth-child(3n) {
  background: #6240BC;
}

.drake-mode-active .soundboard__btn:nth-child(4n) {
  background: #3A266F;
}

.drake-mode-active .soundboard__btn--full {
  background: #6240BC;
}

@media screen and (max-width: 1100px) {
  .soundboard__btn {
    height: 5rem;
    width: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .soundboard__btn--full {
    flex: 1 1 auto;
    width: 100%;
  }

  .soundboard__btn:nth-child(n + 8) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .soundboard__btn:nth-child(n + 6) {
    display: none;
  }

  .drake-mode-btn {
    width: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .soundboard__btn:nth-child(n + 5) {
    display: none;
  }
}
